<div class="container">
    <%# Writing %>
    <%= render @writing %>

    <div>
        <%# Links %>
        <%= link_to "Edit this writing", edit_writing_path(@writing) %> |
        <%= link_to "Back to writings", writings_path %>

        <%# Delete Button %>
        <%= button_to "Destroy this writing", @writing, method: :delete %>
    </div>
    <br />

    <%# Correction Form %>
    <%= render 'corrections/form', writing: @writing, correction: @writing.corrections.build, submit_label: "Reply" %>

    <%# Corrections %>
    <% @corrections.each do |correction| %>
        <%= render 'corrections/correction', writing: @writing, correction: correction %>
    <% end %>
<div>
