<div class="correction-<%= correction.id %>" style="border: 1px solid black; padding: 1em; margin: 1em;">
    <%# User %>
    <%= correction.user.name %><br />

    <%# Time when Posted %>
    <span>Posted <%= time_ago_in_words(correction.created_at) %></span>

    <%# Delete Button %>
    <% if current_user == correction.user %>
        <%= button_to "Delete", [writing, correction], class: "btn btn-danger", method: :delete %>
    <% end %>

    <%# Correction %>
    <hr />
    <%= correction.body %>
</div>